---
- name: Install Apache
  hosts: all
  become: yes

  roles: 
  - { role: deploy, when: ansible_system == 'Linux' }















##  tasks:
##    - name: Install my packages
##      apt: name={{ item }} update_cache=yes state=latest
##      loop:
##        - "tree"
##        - "python"



#  vars:
#    source_file: ./MyWebSite/index.html
#    destination_file: /var/www/html
#  tasks:
#    - name: Check linux versions
#      debug: var=ansible_os_family
#
#    - block: #============BLOCK FOR REDHAT============
#        - name: Install Apache for RedHat
#          yum: name=httpd update_cache=yes state=latest
#
#        - name: Copy MyHomePage to servers
#          copy: src={{source_file}} dest={{destination_file}} mode=0777
#          notify: Restart Apache RedHat
#
#        - name: Starting Apache on the every boot for RedHat
#          service: name=httpd state=started enabled=yes
#
#      when: ansible_os_family == "RedHat"
#
#    - block: #============BLOCK FOR DEBIAN============
#        - name: Install Apache for Debian
#          apt: name=apache2 update_cache=yes state=latest
#
#        - name: Copy MyHomePage to servers
#          copy: src={{source_file}} dest={{destination_file}} mode=0777
#          notify: Restart Apache Debian
#
#        - name: Starting Apache on the every boot for Debian
#          service: name=apache2 state=started enabled=yes
#      when: ansible_os_family == "Debian"
#
#  handlers:
#    - name: Restart Apache RedHat
#      service: name=httpd state=restarted
#
#    - name: Restart Apache Debian
#      service: name=apache2 state=restarted
